<div class="view-box">
  <p>
    <b>Situation</b>
  </p>
  <div *ngIf="(messageCounts$ | async) as messageCounts" class="message-counts">
    <div class="msg-row">
      <img src="assets/icon-user-messages.png" class="type-img" />
      <span class="link" class="label-link">{{messageCounts.userMessages}} user message<span *ngIf="messageCounts.userMessages !== 1">s</span></span>
    </div>
    <div class="msg-row">
      <img src="assets/icon-errors.png" class="type-img" />
      <span class="link" class="label-link">{{messageCounts.errors}} error<span *ngIf="messageCounts.errors !== 1">s</span></span>
    </div>
    <div class="msg-row">
      <img src="assets/icon-warnings.png" class="type-img" />
      <span class="link" class="label-link">{{messageCounts.warnings}} warning<span *ngIf="messageCounts.warnings !== 1">s</span></span>
    </div>
    <div class="msg-row">
      <img src="assets/icon-info.png" class="type-img" />
      <span class="link" class="label-link">{{messageCounts.info}} info</span>
    </div>
  </div>
  <div class="button-bar">
    <span class="nav">
      <button mat-button color="primary" (click)="viewHitlist()"><mat-icon matPrefix>list</mat-icon>View all</button>
    </span>
    <span class="actions">
    </span>
  </div>
</div>