@font-face {
  font-family: "Bowwowhouse";
  src: url("../assets/fonts/bowwowhouse.eot");
  src: local('Bauhaus 93'),
      url("../assets/fonts/bowwowhouse.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/bowwowhouse.woff2") format("woff2"),
      url("../assets/fonts/bowwowhouse.woff") format("woff"),
      url("../assets/fonts/bowwowhouse.ttf") format("truetype"),
      url("../assets/fonts/bowwowhouse.svg#Bauhaus 93") format("svg");
}