.view-box {
  min-width: 500px;
}

.button-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 10px;
  
  button {
    margin-right: 10px;
  }

  button:last-of-type {
    margin-right: 0;
  }
}

.full-width {
  width: 100%;
}

.space-above {
  margin-top: 1em;
}

.mat-radio-group .mat-radio-button {
  margin-right: 1em;
}

.shhhh {
  font-size: 75%;
  color: #3f51b5;
  display: block;
}
