.button-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 10px;
  
  button {
    margin-right: 10px;
  }

  button:last-of-type {
    margin-right: 0;
  }
}

.full-width {
  width: 100%;
}

.output-target {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 10px 0;

  .local-file,
  .seq-log {
    display: block;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
}

ul {
  padding: 0;
  list-style-position: none;
  width: 100%;

  li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    margin-bottom: 5px;
    line-height: 2em;
    padding: 0 5px;
    
    &.selected {
      background-color: rgb(201, 224, 181);
      cursor: pointer;
    }
  }

  li:not(.selected):hover {
    background-color: rgb(201, 224, 181, 0.5);
    cursor: pointer;
  }
}