<p>
  <mat-form-field appearance="standard" class="full-width">
    <mat-label>Base url to target</mat-label>
    <input matInput placeholder="Enter target url">
    <mat-icon matSuffix>language</mat-icon>
    <mat-hint>Matches begin of urls</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard" class="full-width">
    <mat-label>Application</mat-label>
    <input matInput placeholder="Enter application name">
    <mat-hint>Application related to url</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="standard" class="full-width">
    <mat-label>Environment</mat-label>
    <input matInput placeholder="Enter environment name">
    <mat-hint>Environment for application</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-radio-group aria-label="Where to output log">
    <mat-radio-button value="1">Local log file</mat-radio-button>
    <mat-radio-button value="2" style="margin-left:15px;">Seq log</mat-radio-button>
  </mat-radio-group>
</p>


<button mat-button color="primary" (click)="upsertToHitlist()">Add to hitlist</button> 
<button mat-button color="secundary" (click)="removeFromHitlist()">Remove from hitlist</button>


