<div class="view-box" *ngIf="(addEditService.inEditTarget$ | async) as target">
  <p>
    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Base url to target</mat-label>
      <input #url matInput type="text" [(ngModel)]="target.url" placeholder="Enter target url">
      <mat-icon matSuffix>language</mat-icon>
      <mat-hint>Matches begin of urls</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Application</mat-label>
      <input #app matInput type="text" [(ngModel)]="target.application" placeholder="Enter application name">
      <mat-hint>Application related to url</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="standard" class="full-width">
      <mat-label>Environment</mat-label>
      <input #env matInput type="text" [(ngModel)]="target.environment" placeholder="Enter environment name">
      <mat-hint>Environment for application</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <span class="output-target">
      <section class="output-configurations">
        <div *ngFor="let config of target.outputConfigs">
          <mat-checkbox 
            color="primary"
            (change)="onCheckboxChangeEventFunc(config.type, $event)" 
            [checked]="target.outputConfigTypes.indexOf(config.type) > -1">
              {{getConfigTypeName(config.type)}}
          </mat-checkbox>
          <span class="configure" *ngIf="target.outputConfigTypes.indexOf(config.type) > -1">
            <a routerLink="" (click)="nav(config.type)">Configure {{getConfigTypeName(config.type)}}</a>
          </span>
        </div>
      </section>
    </span>
  </p>
  <p class="button-bar">
    <span class="nav">
      <button mat-button color="secundary" (click)="back()"><mat-icon matPrefix>keyboard_arrow_left</mat-icon>{{navButtonText}}</button>
    </span>
    <span class="actions">
      <button mat-button color="primary" *ngIf="target.isNew" (click)="upsertToHitlist()">{{addButtonText}}</button> 
      <button mat-button color="primary" *ngIf="!target.isNew" (click)="upsertToHitlist()">{{updateButtonText}}</button> 
      <button mat-button color="secundary" *ngIf="!target.isNew" (click)="removeFromHitlist()">Remove</button>
    </span>
  </p>
</div>
