.view-box {
  min-width: 500px;
}

.button-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 10px;
  
  button {
    margin-right: 10px;
  }

  button:last-of-type {
    margin-right: 0;
  }
}

.full-width {
  width: 100%;
}

.output-target {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 10px 0;

  .local-file,
  .seq-log {
    display: block;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
}

mat-radio-group {
  margin-left: -1.2em;
}

span.configure {
  padding-left: 1em;

  a,
  a:active,
  a:hover,
  a:visited { 
    color: #3f51b5;
  }
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-ripple .mat-ripple-element {
  opacity: 0.03 !important;
  background-color: #3f51b5!important;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background,.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: #3f51b5;
}
