.view-box {
  min-width: 500px;
}

.button-bar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 10px;
  
  button {
    margin-right: 10px;
  }

  button:last-of-type {
    margin-right: 0;
  }
}

.full-width {
  width: 100%;
}

.output-target {
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 10px 0;

  .local-file,
  .seq-log {
    display: block;
    margin: 10px 0 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
  }
}
