a.disabled {
  pointer-events: none;
  cursor: default;
  color: #aaa;
}

header {
  background-color: rgb(201, 224, 181);
  font-family: 'Bowwowhouse';
  font-size: 36px;
  padding: 10px;

  .nav-content {
    span {
      line-height: 1em;
    }

    img.informer {
      margin-left: 15px;
      height: 26px;
    }
  }
}

.hitlist-status {
  margin-left: 10px;
  position: relative;
  top: -5px;
}

.icon-target {
  width:20px;
}

.sub-header {
  background-color: rgb(201, 224, 181, 0.5);
  padding: 10px 10px 5px 10px;
}